body{
	font-family: 'Karla', monospace;
	font-size: 20px;
	background-color: #f5f5f7;

}
a{
	text-decoration: none;
	color: black;
}
header{
	margin-top: 60px ;
	font-family: 'Karla', sans-serif;
}
header h1{
	font-weight: 700;
	padding-bottom: 20px;
}

header ul{
	list-style: none;
}
header ul li{
	display: inline-block;
	margin-right: 30px;
}
header ul li a{
	text-decoration: underline;
}
.side_nav ul{
	text-align : right;
}
/* Sub titles*/
.sub-title {
	display: inline-block;
	font-weight: bold;
}
.main-info{
	margin-top:5px;
}
.highlight{
	    padding-left: 9px;
				    padding-right: 9px;
						padding-bottom: 7px;
			 background: #dcdcea;
	}

.under-hero{
	display: inline-block;
	text-decoration: none;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	/*background-color: lightgrey;*/
	border: 3px solid #dcdcea;
}
.under-hero:hover{
	opacity:1;
	text-shadow: 0px 1px 0 lightgrey;
	transition: 0.15s all ease-out;
	color:black;
	background-color: #dcdcea;
}

.contact-list p{
	margin-right: 20px;
	display: inline-block;
}
/* Current work*/

.curr-work{
	margin-top : 50px;
}

.blog-info{
	margin-top : 50px;
}
/* Card UI*/
.card{
	border-radius: 5px;
	/*width: 100%;*/
	box-shadow: 0 3px 4px lightgrey;
	padding: 20px;
	margin-top: 20px;
	background-color: white;
}
.card:hover{
	box-shadow: 0 7px 9px lightgrey;
	transition: 0.1s all ease-out;
}
.card .card-link{
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px solid ;
}

.card h3{
	font-weight: normal;
}
.card h3 a{
	text-decoration: none;
	display: inline-block;
	border-bottom: 2px solid black;
	color: black;
}

.card h3 a:hover{
	opacity:0.4;
	transition: 0.1s all;
}
/* End card UI	*/
footer{
	padding-top:20px;
	margin-top:40px;

	border-top: 1px solid lightgrey;
}
footer ul{
	font-family: 'Karla';
	font-weight: bold;
	list-style: none;
	text-align: center;
}
footer li{
	display: inline-block;
	padding-left:9px;
	padding-right:9px;
}
footer a{
	text-decoration: none;
}
li:hover{
	border-bottom: 1px solid lightgrey
}
