{% extends 'base2.html' %}
{% block content %}

<h2 class="is-size-3 is-size-3-mobile 	
has-text-black"> <strike>not so</strike> Random Scribbles</h2>
<br>
<br>
<div class="post has-text-black ">
	{% for page in pages %}

	<p class="sans has-text-weight-bold">( {{ page.date }} )</p>
	<a href="{{ url_for('page' , path=page.path )}}" class="cardo is-size-3 has-text-black"
		style="font-weight: 900; margin-top:-5px;">{{ page.title }}</a>
</div>
<br>
{% endfor %}
</div>

{% endblock %}