{% extends 'base2.html' %}
{% block content %}
<p class="cardo is-size-3 is-size-3-mobile">
	I tinker with code & pixels<br>
	to make <span class="sans has-text-weight-bold">Indian MSME's</span><br>
	more efficient.<br>
	Also <span class="sans"> <b> Open Source</b></span> devotee.<br>
	And knows enough <br>
	Japanese to understand the<br>
	gist of an anime.
</p>
<br><br>
<a href="https://highoncarbs.ml/Hafta">
	<div class="notification is-black">
		<p class="sans is-size-4">Currently building - <span class="cardo "> Hafta</span></p>
		<hr class="has-background-white" style="margin: 0.5rem 0;">
		<p class="is-size-6">Payroll & HR for Indian MSME's </p>

	</div>

</a>
{% endblock %}	