{% extends 'base.html' %}
{% block content %}

<h2 class="is-size-1 is-size-2-touch has-text-info" style="font-weight: 900; ">Some Work .</h2>
<br>
<br>
<div class="columns ">
<div class="column">

	<a href="https://github.com/PadamSethia/peep" >
		<div class="notification is-black grow " style="padding-right: 0;padding-bottom: 0;">
		<p class="is-size-5 has-text-grey-light">PEEP</p>
		<br>
		<h2 class="is-size-3" style="font-weight: bold">
			Communication<br>management<br>system
		</h2>
		<br>
		<br>
			<img src="{{ url_for('static' , filename="images/peep.png" )}}">
		</div>
	</a>
	<br>
	<br>
		
	<a href="https://github.com/PadamSethia/lumberjack" >
		<div class="notification is-warning grow " style="padding-right: 0;padding-bottom: 0;">
		<p class="is-size-5 has-text-black">LUMBERJACK</p>
		<br>
		<h2 class="is-size-3" style="font-weight: bold">
			Log<br>Analysis<br>Platform
		</h2>
		<br>
		<br>
		<br>
		</div>
	</a>

</div>

<div class="column">
	<a href="https://github.com/PadamSethia/shorty" >
		<div class="notification is-info grow " style="padding-right: 0;padding-bottom: 0;">
		<p class="is-size-5 has-text-white">SHORTY</p>
		<br>
		<h2 class="is-size-3" style="font-weight: bold">
			URL<br>Shortner<br>Analytics
		</h2>
		<br>
		<br>
		</div>
	</a>
	<br>
	<br>
	<a href="https://github.com/PadamSethia/flake" >
		<div class="notification is-light grow " style="padding-right: 0;padding-bottom: 0;">
		<p class="is-size-5 ">FLAKE</p>
		<br>
		<h2 class="is-size-3" style="font-weight: bold">
			Static<br>Site<br>Generator
		</h2>
		<br>
		<br>
		</div>
	</a>
	<br>
	<br>
	<a href="https://github.com/fumen/kihon" >
		<div class="notification is-black grow " style="padding-right: 0;padding-bottom: 0;">
		<p class="is-size-5 ">FUMEN</p>
		<br>
		<h2 class="is-size-3" style="font-weight: bold">
			Music<br>Streaming<br>
		</h2>
		<br>
		<br>
		</div>
	</a>
</div>
</div>
	<br>


{% endblock %}