.serif {
    font-family: 'EB Garamond', serif;
}

.sans {
    font-family: 'Oswald', sans-serif;
}

.is-size-01 {
    font-size: 5.2rem;
}

.is-size-001 {
    font-size: 26rem;
    font-weight: 700;
}

.container {
    padding: 2.5rem 5rem 2rem 5rem;
}

.has-background-beige {
    background-color: #FFFCEF;
}

#movetxt {
    animation: moving 7s infinite ease-in alternate;
    /* position: absolute; */
    /* white-space: nowrap; */
    transform: translateY( -5rem);
}

@keyframes moving {
    from {
        transform: translate(-10%, -6rem);
        right: 100%;
    }
    to {
        transform: translate(-100%, -6rem);
        right: 0%;
    }
}