body{
	font-family: 'Chivo';
}
.base{
	margin:1rem;
}
.nav-desk{
	margin-top:5rem;
}

.nav-tab{
	margin-top:1rem;
}

.navigation ul li a {
		font-weight: 900;

}
.social ul li a{
	color:  !important; 
	font-weight: 900;
}

.post-body a{
	font-weight: 700;
	font-style: italic;
}

.post-body img{
	background-color: lightyellow;
	display: inline-block;
	padding:3rem;
	margin-top:1rem;
	margin-bottom: 1rem;
}

.post-body blockquote{
	margin-top:1rem;
	margin-bottom: 1rem;
	padding:1rem;
	background-color: lightyellow;
	font-weight: 700;
}

.post span{
	display: inline-block;
    vertical-align: middle;
}

.body-tab{
		margin-top:2rem;
}

.back:hover{
	color: black;
}
